body{
    background-color: #222;
    overflow: hidden;
    height: 100%;
}



.container{
    width: 60vw;
    height: 46.74vw;
    margin: 0 auto;
    margin-top: 4%;
    position: relative;
}
.game{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top : 20px;
}
.plateau{
    width : 48vw;
    height: 33.6vw;
    /*border: 2px solid red;*/
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.player{
    width: 3.8vw;
    height: 3.8vw;
    position: absolute;
    background-image: url("../images/backw0.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 22.4vw;
    top: 32vw;
}
.plateau img{
    width: 900px;
    height: 600px;
    background-size: cover;
}

.monster{
    width: 2.2vw;
    height: 2.2vw;
    background: #BADA55;
    position: absolute;
    top: 12vw;
    left: 21vw;
}
